html {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Crimson Text";
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
  margin: -1rem;
  margin-top: auto;
}

article header {
  margin-bottom: 1em;
  border-bottom-style: inset;
  border-bottom-color: #999;
  border-bottom-width: thin;
}

article h1 {
  color: #222;
  font-size: 1.5rem;
  margin-bottom: 0;
}

article header p {
  margin-bottom: 1.5rem;
  font-style: italic;
  color: #555;
}

article p {
  margin: auto;
  margin-bottom: 1.5rem;
}

.quote {
  text-align: center;
  font-size: 1.125rem;
  color: #555;
}

blockquote {
  text-align: left;
  font-weight: 100;
  font-size: 1.125rem;
  color: #555;
}

article ol {
  margin-left: -1.5rem;
}

body {
  margin: 1.25rem;
  border-bottom-style: ridge;
  border-bottom-color: #999;
  border-bottom-width: thin;
  width: auto;
}
